<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event</title>
    <link rel="stylesheet" href="create_event.css">
    <link rel="shortcut icon" type="image/jpg" href="images/small-logo.png" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>

    <header>
        <!-- Header -->
        <div class="logo">
            <a href="#">Hacking The Future</a>
        </div>

        <nav class="navigation">
            <a href="events.html" class="non-active">Event</a>
            <a href="#" class="non-active">About</a>
            <a href="#" class="non-active">Service</a>
            <a href="#" class="non-active">Contact</a>
            <a href="user_setting.html" class="active">Settings</a>
        </nav>
    </header>

    <!-- Create Event -->
    <div class="create-event">
        <form action="insert.php" method="post">
            <div class="title">
                Create Event
            </div>

            <div class="column">
                <div class="input-box">
                    <img src="images/events.png" id="profile-pic">
                    <input type="file" accept="image/jpeg, image/jpg, image/png" id="input-pic">
                </div>
            </div>

            <div class="column">
                <!-- Event Name -->
                <input type="text" name="eventname" placeholder="Event Name">

                <!-- Date -->
                <label>Date</label>
                <input type="date" name="date" placeholder="Enter date">

                <!-- Description -->
                <textarea name="description" id="description" rows="10" cols="30"
                    placeholder="Event Description"></textarea>

            </div>

            <div class="button">
                <!-- back button  -->
                <a href="user_setting.html" class="btn">Back</a>

                <!-- Done button -->
                <a href="#" class="btn">Save</a>
            </div>
        </form>
    </div>

    <script>

        let profilePic = document.getElementById('profile-pic');
        let inputFile = document.getElementById('input-pic');

        inputFile.onchange = function () {
            profilePic.src = URL.createObjectURL(inputFile.files[0]);
        }
    </script>

</body>

</html>