@font-face {
    font-family: 'SF Pro Display';
    src: url('SF-Pro-Display-Bold.ttf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 99;
}

.logo a {
    font-size: 25px;
    color: rgb(104, 18, 18);
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 700;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #2f1b12;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a.active {
    color: #765341;
    font-weight: bold;
    border-bottom: 3px solid #deaf84;
}

.navigation a.non-active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #deaf84;
    border-radius: 5px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: center;
    transform: scaleX(1);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.create-event {
    position: relative;
    width: 90%;
    height: 500px;
    background: transparent;
    backdrop-filter: blur(0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    position: fixed;
    font-size: 36px;
    left: 5%;
    top: 5%;
}

/* input {
    width: 90%;
    height: 30px;
    border: 1px solid #2f1b12;
    border-radius: 4px;
    margin: 6px;
    padding: 10px;
    background: rgb(244, 244, 244);
} */

input, textarea {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
}

/* textarea {
    padding: 10px;
    width: 90%;
    height: 100px;
    border: 1px solid #2f1b12;
    border-radius: 4px;
    margin: 6px;
    padding: 10px;
    background: rgb(244, 244, 244);
    resize: none;
} */

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    font-size: 15px;
}

.input-box label {
    position: absolute;
    margin: -5px;
    left: 25px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000;
    font-weight: 700;
    pointer-events: none;
    transition: .5s;
}

.input-box img {
    position: inherit;
    width: 90%;
    max-height: 30vh;
    border-radius: 9px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.column img {
    width: 100%;
}