<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event</title>
    <link rel="stylesheet" href="create_event.css">
    <link rel="shortcut icon" type="image/jpg" href="images/small-logo.png" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>

    <header>
        <!-- Header -->
        <div class="logo">
            <a href="#">Hacking The Future</a>
        </div>

        <nav class="navigation">
            <a href="events.html" class="active">Event</a>
            <a href="#" class="non-active">About</a>
            <a href="#" class="non-active">Service</a>
            <a href="#" class="non-active">Contact</a>
            <a href="user_setting.html" class="non-active">Settings</a>
        </nav>
    </header>

    <!-- Create Event -->
    <div class="create-event">
        <form action="#" method="#">
            <h2>Create Event</h2>
            <!-- Event Name -->
            <div class="input-box">
                <span class="icon"><ion-icon name="copy-outline"></ion-icon></span>
                <input type="text" required>
                <label>Event Name</label>
            </div>

            <!-- Description -->
            <div class="input-box">
                <span class="icon"><ion-icon name="folder-outline"></ion-icon></ion-icon></span>
                <input type="text" required>
                <label>Description</label>
            </div>

            <!-- Date -->
            <div class="calendar">
                <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
                <label><input type="date">Date</label>
            </div>

            <!-- back button  -->
            <button type="submit" class="btn">Back</button>

            <!-- Done button -->
            <button type="submit" id="doneButton" class="btn">Done</button>

            <script>
                // Function to handle Done button click
                function onDoneButtonClick() {
                    // Trigger SweetAlert2 dialog when Done button is clicked
                    Swal.fire({
                        title: "Event Created Successfully",
                        icon: "success"
                    });
                }

                // Attach the event listener to the Done button
                const doneButton = document.getElementById("doneButton");
                doneButton.addEventListener("click", onDoneButtonClick);
            </script>

        </form>
    </div>
    </div>

</body>

</html>