<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dummy Events</title>
    <link rel="stylesheet" href="dummy.css">
    <link rel="shortcut icon" type="image/jpg" href="images/small-logo.png" />
</head>

<body>

    <header>
        <div class="logo">
            <a href="#">Hacking The Future</a>
        </div>

        <nav class="navigation">
            <a href="events.html" class="active">Event</a>
            <a href="#" class="non-active">About</a>
            <a href="#" class="non-active">Service</a>
            <a href="#" class="non-active">Contact</a>
            <a href="user_setting.html" class="non-active">Settings</a>
        </nav>
    </header>

    <section class="title-of-page">
        <div class="text">
            <h1>Events</h1>
        </div>
    </section>

    <section class="upcoming-event">
        <h2>Upcoming Events</h2>
        <p>Top 3 closest upcoming events</p>

        <div class="row">
            <div class="events">
                <h3>Events 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
            <div class="events">
                <h3>Events 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
            <div class="events">
                <h3>Events 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
        </div>
    </section>

    <div class="wrapper">

        <div class="item-bg"></div>

        <div class="news-slider">
            <div class="news-slider__wrp swiper-wrapper">
                <div class="news-slider__item swiper-slide">
                    <a href="#" class="news__item">
                        <div class="news-date">
                            <span class="news-date__title">24</span>
                            <span class="news-date__txt">May</span>
                        </div>
                        <div class="news__title">
                            Lorem Ipsum Dolor Sit Amed
                        </div>

                        <p class="news__txt">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry's standard dummy text ever since the 1500s...
                        </p>

                        <div class="news__img">
                            <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1537132205/news-slider/item-2.webp"
                                alt="news">
                        </div>
                    </a>
                </div>

                <div class="news-slider__item swiper-slide">
                    <a href="#" class="news__item">
                        <div class="news-date">
                            <span class="news-date__title">25</span>
                            <span class="news-date__txt">May</span>
                        </div>
                        <div class="news__title">
                            Lorem Ipsum Dolor Sit Amed
                        </div>

                        <p class="news__txt">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry's standard dummy text ever since the 1500s...
                        </p>

                        <div class="news__img">
                            <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1537132205/news-slider/item-3.webp"
                                alt="news">
                        </div>
                    </a>
                </div>

                <div class="news-slider__item swiper-slide">
                    <a href="#" class="news__item">
                        <div class="news-date">
                            <span class="news-date__title">26</span>
                            <span class="news-date__txt">May</span>
                        </div>
                        <div class="news__title">
                            Lorem Ipsum Dolor Sit Amed
                        </div>

                        <p class="news__txt">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry's standard dummy text ever since the 1500s...
                        </p>

                        <div class="news__img">
                            <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1537132205/news-slider/item-4.webp"
                                alt="news">
                        </div>
                    </a>
                </div>

                <div class="news-slider__item swiper-slide">
                    <a href="#" class="news__item">
                        <div class="news-date">
                            <span class="news-date__title">27</span>
                            <span class="news-date__txt">May</span>
                        </div>
                        <div class="news__title">
                            Lorem Ipsum Dolor Sit Amed
                        </div>

                        <p class="news__txt">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry's standard dummy text ever since the 1500s...
                        </p>

                        <div class="news__img">
                            <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1537132205/news-slider/item-2.webp"
                                alt="news">
                        </div>
                    </a>
                </div>

                <div class="news-slider__item swiper-slide">
                    <a href="#" class="news__item">
                        <div class="news-date">
                            <span class="news-date__title">28</span>
                            <span class="news-date__txt">May</span>
                        </div>
                        <div class="news__title">
                            Lorem Ipsum Dolor Sit Amed
                        </div>

                        <p class="news__txt">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry's standard dummy text ever since the 1500s...
                        </p>

                        <div class="news__img">
                            <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1537132205/news-slider/item-5.webp"
                                alt="news">
                        </div>
                    </a>
                </div>

                <div class="news-slider__item swiper-slide">
                    <a href="#" class="news__item">
                        <div class="news-date">
                            <span class="news-date__title">29</span>
                            <span class="news-date__txt">May</span>
                        </div>
                        <div class="news__title">
                            Lorem Ipsum Dolor Sit Amed
                        </div>

                        <p class="news__txt">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry's standard dummy text ever since the 1500s...
                        </p>

                        <div class="news__img">
                            <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1537132205/news-slider/item-4.webp"
                                alt="news">
                        </div>
                    </a>
                </div>
            </div>

            <div class="news-slider__ctr">

                <div class="news-slider__arrows">
                    <button class="news-slider__arrow news-slider-prev">
                        <span class="icon-font">
                            <svg class="icon icon-arrow-left">
                                <use xlink:href="#icon-arrow-left"></use>
                            </svg>
                        </span>
                    </button>
                    <button class="news-slider__arrow news-slider-next">
                        <span class="icon-font">
                            <svg class="icon icon-arrow-right">
                                <use xlink:href="#icon-arrow-right"></use>
                            </svg>
                        </span>
                    </button>
                </div>

                <div class="news-slider__pagination"></div>

            </div>

        </div>

    </div>

    <svg hidden="hidden">
        <defs>
            <symbol id="icon-arrow-left" viewBox="0 0 32 32">
                <title>arrow-left</title>
                <path
                    d="M0.704 17.696l9.856 9.856c0.896 0.896 2.432 0.896 3.328 0s0.896-2.432 0-3.328l-5.792-5.856h21.568c1.312 0 2.368-1.056 2.368-2.368s-1.056-2.368-2.368-2.368h-21.568l5.824-5.824c0.896-0.896 0.896-2.432 0-3.328-0.48-0.48-1.088-0.704-1.696-0.704s-1.216 0.224-1.696 0.704l-9.824 9.824c-0.448 0.448-0.704 1.056-0.704 1.696s0.224 1.248 0.704 1.696z">
                </path>
            </symbol>
            <symbol id="icon-arrow-right" viewBox="0 0 32 32">
                <title>arrow-right</title>
                <path
                    d="M31.296 14.336l-9.888-9.888c-0.896-0.896-2.432-0.896-3.328 0s-0.896 2.432 0 3.328l5.824 5.856h-21.536c-1.312 0-2.368 1.056-2.368 2.368s1.056 2.368 2.368 2.368h21.568l-5.856 5.824c-0.896 0.896-0.896 2.432 0 3.328 0.48 0.48 1.088 0.704 1.696 0.704s1.216-0.224 1.696-0.704l9.824-9.824c0.448-0.448 0.704-1.056 0.704-1.696s-0.224-1.248-0.704-1.664z">
                </path>
            </symbol>
        </defs>
    </svg>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>var bg = document.querySelector('.item-bg');
        var items = document.querySelectorAll('.news__item');
        var item = document.querySelector('.news__item');

        function cLog(content) {
            console.log(content)
        }

        if ($(window).width() > 800) {
            $(document).on("mouseover", ".news__item", function (_event, _element) {

                var newsItem = document.querySelectorAll('.news__item');
                newsItem.forEach(function (element, index) {
                    element.addEventListener('mouseover', function () {
                        var x = this.getBoundingClientRect().left;
                        var y = this.getBoundingClientRect().top;
                        var width = this.getBoundingClientRect().width;
                        var height = this.getBoundingClientRect().height;

                        $('.item-bg').addClass('active');
                        $('.news__item').removeClass('active');
                        // $('.news__item').removeClass('active');


                        bg.style.width = width + 'px';
                        bg.style.height = height + 'px';
                        bg.style.transform = 'translateX(' + x + 'px ) translateY(' + y + 'px)';
                    });

                    element.addEventListener('mouseleave', function () {
                        $('.item-bg').removeClass('active');
                        $('.news__item').removeClass('active');
                    });

                });

            });
        }


        var swiper = new Swiper('.news-slider', {
            effect: 'coverflow',
            grabCursor: true,
            loop: true,
            centeredSlides: true,
            keyboard: true,
            spaceBetween: 0,
            slidesPerView: 'auto',
            speed: 300,
            coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 0,
                modifier: 3,
                slideShadows: false
            },
            breakpoints: {
                480: {
                    spaceBetween: 0,
                    centeredSlides: true
                }
            },
            simulateTouch: true,
            navigation: {
                nextEl: '.news-slider-next',
                prevEl: '.news-slider-prev'
            },
            pagination: {
                el: '.news-slider__pagination',
                clickable: true
            },
            on: {
                init: function () {
                    var activeItem = document.querySelector('.swiper-slide-active');

                    var sliderItem = activeItem.querySelector('.news__item');

                    $('.swiper-slide-active .news__item').addClass('active');

                    var x = sliderItem.getBoundingClientRect().left;
                    var y = sliderItem.getBoundingClientRect().top;
                    var width = sliderItem.getBoundingClientRect().width;
                    var height = sliderItem.getBoundingClientRect().height;


                    $('.item-bg').addClass('active');

                    bg.style.width = width + 'px';
                    bg.style.height = height + 'px';
                    bg.style.transform = 'translateX(' + x + 'px ) translateY(' + y + 'px)';
                }
            }
        });

        swiper.on('touchEnd', function () {
            $('.news__item').removeClass('active');
            $('.swiper-slide-active .news__item').addClass('active');
        });

        swiper.on('slideChange', function () {
            $('.news__item').removeClass('active');
        });

        swiper.on('slideChangeTransitionEnd', function () {
            $('.news__item').removeClass('active');
            var activeItem = document.querySelector('.swiper-slide-active');

            var sliderItem = activeItem.querySelector('.news__item');

            $('.swiper-slide-active .news__item').addClass('active');

            var x = sliderItem.getBoundingClientRect().left;
            var y = sliderItem.getBoundingClientRect().top;
            var width = sliderItem.getBoundingClientRect().width;
            var height = sliderItem.getBoundingClientRect().height;


            $('.item-bg').addClass('active');

            bg.style.width = width + 'px';
            bg.style.height = height + 'px';
            bg.style.transform = 'translateX(' + x + 'px ) translateY(' + y + 'px)';
        });


    </script>


</body>

</html>