<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="events.css">
    <link rel="shortcut icon" type="image/jpg" href="images/small-logo.png" />
</head>

<body>

    <header>
        <!-- Header -->
        <div class="logo">
            <a href="home.html">Hacking The Future</a>
        </div>

        <nav class="navigation">
            <a href="events.html" class="active">Event</a>
            <a href="#" class="non-active">About</a>
            <a href="#" class="non-active">Service</a>
            <a href="#" class="non-active">Contact</a>
            <a href="user_setting.html" class="non-active">Settings</a>
        </nav>
    </header>

    <section class="title-of-page">
        <div class="text">
            <h1>Events</h1>
        </div>
    </section>

    <section class="upcoming-event">
        <h2>Upcoming Events</h2>
        <p>Top 3 closest upcoming events</p>

        <div class="row">
            <div class="events">
                <h3>Events 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="events">
                <h3>Events 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="events">
                <h3>Events 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>