<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
    <link rel="shortcut icon" type="image/jpg" href="images/small-logo.png" />
</head>

<body>
    <header>
        <!-- Header -->
        <div class="logo">
            <a href="home.html">Hacking The Future</a>
        </div>

        <nav class="navigation">
            <a href="events.html" class="non-active">Event</a>
            <a href="#" class="non-active">About</a>
            <a href="#" class="non-active">Service</a>
            <a href="#" class="non-active">Contact</a>
            <a href="user_setting.html" class="active">Settings</a>
        </nav>
    </header>

    <div class="top-page">
        <h1>Hacking the Future</h1>
        <div class="search">
            <input type="text" name="" id="" placeholder="Search">
        </div>
        <div class="links">
            <button>Quiz</button>
            <button>Friends</button>
            <button>History</button>
        </div>
    </div>
</body>

</html>