<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="privacy_policy.css">
    <link rel="shortcut icon" type="image/jpg" href="images/small-logo.png" />
</head>

<body>
    <header>
        <!-- Header -->
        <div class="logo">
            <a href="#">Hacking The Future</a>
        </div>
    </header>

    <div class="content-box">
        <h1>Privacy Policy</h1>

        <p>Welcome to our Privacy Policy page. This policy outlines how we collect, use, and protect your personal information when you use our website and services. By using our website, you agree to the practices described in this policy.</p>

        <h2>Information We Collect</h2>
        <p>We may collect various types of information when you use our website, including:</p>
        <ol>
            <li><strong>Personal Information:</strong> Such as your name, email address, postal address, phone number, and other information you provide when creating an account or contacting us.</li>
            <li><strong>Usage Data:</strong> Information about your use of our website, such as pages visited, time spent on pages, and other usage patterns.</li>
            <li><strong>Cookies and Similar Technologies:</strong> We use cookies and similar tracking technologies to enhance your experience on our website and track your preferences.</li>
        </ol>

        <h2>How We Use Your Information</h2>
        <p>We may use the information we collect for the following purposes:</p>
        <ol>
            <li>To provide, maintain, and improve our website and services.</li>
            <li>To communicate with you, respond to inquiries, and provide customer support.</li>
            <li>To send promotional materials or marketing communications if you have opted in to receive them.</li>
            <li>To monitor and analyze usage patterns and trends.</li>
            <li>To comply with legal obligations and protect our rights and interests.</li>
        </ol>

        <h2>Information Sharing</h2>
        <p>We may share your information with third parties under the following circumstances:</p>
        <ol>
            <li>With your consent or at your direction.</li>
            <li>To third-party service providers who assist us in operating our website and services.</li>
            <li>To comply with legal obligations, such as responding to a subpoena or legal process.</li>
            <li>To protect our rights, safety, or the safety of others.</li>
        </ol>

        <h2>Data Security</h2>
        <p>We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. Howeve
