<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="register_page.css">
    <link rel="shortcut icon" type="image/jpg" href="images/small-logo.png" />
</head>

<body>

    <header>
        <!-- Header -->
        <div class="logo">
            <a href="#">Hacking The Future</a>
        </div>
    </header>

    <div class="wrapper">
        <div class="form-box">
            <h2>Registration</h2>
            <form action="register_page.php" method="post">

                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input type="text" name="username" required>
                    <label>Username</label>
                </div>
                
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>
                
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" id="password" name="password" required>
                    <label>Password</label>
                </div>
                

                <!-- Show Password Checkbox -->
                <div class="show-password">
                    <label for="show-password-checkbox">
                        <input type="checkbox" id="show-password-checkbox">
                        Show Password
                    </label>
                </div>

                <script>
                    document.getElementById('show-password-checkbox').addEventListener('change', function() {
                        var passwordField = document.getElementById('password');
                        // Toggle password field type between 'password' and 'text'
                        if (this.checked) {
                            passwordField.type = 'text';
                        } else {
                            passwordField.type = 'password';
                        }
                    });
                </script>

                <!-- terms and conditions  -->
                <div class="conditions">
                    <label>
                        <input type="checkbox">
                        I agree to the
                    </label>
                    <a href="terms_and_conditions.html">terms and conditions</a>
                </div>

                <button type="submit" class="btn">Next</button>

                <div class="login-register">
                    <p>
                        Already have an account?
                        <a href="#" class="login-link">Login</a>
                    </p>
                </div>

            </form>
        </div>
    </div>
</body>