<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Role</title>
    <link rel="stylesheet" href="select_role.css">
    <link rel="shortcut icon" type="image/jpg" href="dslogo.png" />
</head>

<body>

    <header>
        <!-- Header -->
        <div class="logo">
            <a href="#">Hacking The Future</a>
        </div>
    </header>


    <div class="btn-grp">
        <div class="form-box role">
            <h2>Select Role</h2>
            <form action="#">
                <select name="role" id="role-select">
                    <option value="" selected></option>
                    <option value="student">Student</option>
                    <option value="parents">Parents</option>
                    <option value="educator">Educator</option>
                </select>

                <!-- register button -->
                <button type="submit" class="buttonBack">Back</button>
                <button type="submit" class="buttonDone">Done</button>

            </form>

        </div>

    </div>
</body>

</html>