<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Settings</title>
    <link rel="stylesheet" href="user_setting.css">
    <link rel="shortcut icon" type="image/jpg" href="images/small-logo.png" />
</head>

<body>

    <header>
        <!-- Header -->
        <div class="logo">
            <a href="#">Hacking The Future</a>
        </div>

        <nav class="navigation">
            <a href="#" class="non-active">Event</a>
            <a href="#" class="non-active">About</a>
            <a href="#" class="non-active">Service</a>
            <a href="#" class="non-active">Contact</a>
            <a href="#" class="active">Settings</a>
        </nav>
    </header>

    <div class="profile-container">
        <img src="images/default-profile-pic.png" alt="Profile Picture">
        <div class="text-container">
            <h1>username</h1>
            <h2>Role</h2>
        </div>
        <a href="#"><span class="icon-edit">
                <ion-icon name="create-outline"></ion-icon>
            </span>Edit Profile</a>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>