<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Settings</title>
    <link rel="stylesheet" href="user_setting.css">
    <link rel="shortcut icon" type="image/jpg" href="images/small-logo.png" />
</head>

<body>

    <header>
        <!-- Header -->
        <div class="logo">
            <a href="#">Hacking The Future</a>
        </div>

        <nav class="navigation">
            <a href="events.html" class="non-active">Event</a>
            <a href="#" class="non-active">About</a>
            <a href="#" class="non-active">Service</a>
            <a href="#" class="non-active">Contact</a>
            <a href="user_setting.html" class="active">Settings</a>
        </nav>
    </header>

    <section class="profile-container">
        <img src="images/default-profile-pic.png" alt="Profile Picture">
        <div class="text-container">
            <h1>Hi username!</h1>
            <h2>Role</h2>
        </div>
        <a href="#"><span class="icon-edit">
                <ion-icon name="create-outline"></ion-icon>
            </span>Edit Profile</a>
    </section>

    <section class="continue">
        <h2>Continue your work</h2>
        <p>Continue where you left off</p>

        <div class="row">
            <div class="events">
                <h3>Quiz 1</h3>
                <p class="desc">Subject: Mathematics</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
            </div>
            <div class="events">
                <h3>Quiz 2</h3>
                <p class="desc">Subject: Science</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
            </div>
            <div class="events">
                <h3>Quiz 3</h3>
                <p class="desc">Subject: Computer Science</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
            </div>
        </div>
    </section>

    <section class="continue">
        <h2>Events</h2>
        <p>Upcoming events</p>

        <div class="row">
            <div class="events">
                <h3>Event 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
                <img src="images/events.png" alt="">
            </div>
            <div class="events">
                <h3>Event 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
                <img src="images/events.png" alt="">
            </div>
            <div class="events">
                <h3>Event 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
                <img src="images/events.png" alt="">
            </div>
        </div>

        <div class="add-events">
            <a href="create_event.html"><span class="icon-edit">
                    <ion-icon name="add-outline"></ion-icon></ion-icon>
                </span>Add Events</a>
        </div>
    </section>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>