@font-face {
    font-family: 'SF Pro Display'; /* Provide a name for your font */
    src: url('SF-Pro-Display-Bold.ttf') format('opentype'); /* Path to your font file */
    /* You can also provide additional font formats for better browser support */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
}

/* Top Logo */
header{
    position: fixed;
    font-size: 72px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

/*Logo*/
.logo a{
    font-size: 40px;
    color: rgb(104, 18, 18);
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 700;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    text-align: center;
}

.wrapper {
    position: relative;
    width: 440px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    justify-content: center;
    margin: 20px;
}

.button a{
    width: 150px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgb(67, 41, 22);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 60px;
    transition: background-color 0.3s;
}

.button a:hover {
    background-color: black;
}