<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="welcome_page.css">
    <link rel="shortcut icon" type="image/jpg" href="dslogo.png" />
</head>

<body>
    <header>
        <!-- Header -->
        <div class="logo">
            <a href="#">Hacking The Future</a>
        </div>
    </header>

    <!-- wrapper -->
    <div class="wrapper">
        <div class="content">
            <div class="title">
                <h1>Welcome to </h1>
                <h1>Hacking The Future</h1>
                <div class="button">
                    <button type="submit" class="btn">Sign Up</button>
                    <button type="submit" class="btn">Sign In</button>
                </div>
            </div>
        </div>
    </div>
</body>